<%= error_messages_for 'website' %>

<!--[form:website]-->
<p><label for="invoice_client">Kunde</label><br/>
<%= select('website', 'client_id', @clients)  %>
<%= link_to ('Neuer Kunde', :controller => 'clients', :action => 'new') %>
</p>

<p><label for="website_name">Name</label><br/>
<%= text_field 'website', 'name'  %></p>

<p><label for="website_created_on">Created on</label><br/>
<%= date_select 'website', 'created_on', :order => [:day, :month, :year], :use_month_numbers => true, :include_blank => true  %></p>

<p><label for="website_hosting_fee">Hosting-Geb&uuml;hr (monatlich in Cents)</label><br/>
<%= text_field 'website', 'hosting_fee'  %></p>

<p><label for="website_ftp_username">Ftp username</label><br/>
<%= text_field 'website', 'ftp_username'  %></p>

<p><label for="website_ftp_password">Ftp password</label><br/>
<%= text_field 'website', 'ftp_password'  %></p>
<!--[eoform:website]-->

