<h1>Websites</h1>

<table id="websites">
  <tr>
	  <td>&nbsp;</td>
	  <td>Beginn</td>
	  <td>Domains</td>
	  <td class="money">Hosting (netto)</td>
	  <td class="money">Hosting (brutto)</td>
  </tr>
<% for client in @clients %>
  <tr>
	  <td colspan="5" class="website_client">
       <%= link_to client.name, { :controller => 'clients', :action => 'show', :id => client }, { 'style' => 'text-decoration:none;' } %>
	  </td>
  </tr>
  <% for website in client.websites %>
  <tr>
    <td><%= link_to website.name, :action => 'show', :id => website %></td>
    <td class="date"><%= format_dmy(website.created_on) %></td>
    <td class="money"><%= website.domains.count %></td>
    <td class="money"><b><%= format_euro(website.total_cost_per_year) %></b></td>
    <td class="money"><b><%= format_euro(website.total_cost_per_year * (1+UST)) %></b></td>
    <td><%= link_to 'Rechnung', :controller => 'invoices', :action => 'new', :website_id => website.id %></td>
  </tr>
  <% end %>
<% end %>
  <tr>
  <td>&nbsp;</td>
  </tr>
  <tr>
  <td colspan="3" class="money" style="border-top:3px double #999;">&nbsp;</td>
  <td class="money" style="border-top:3px double #999;"><%= format_euro(@monthly_hosting_income) %> p. Monat</td>
  <td class="money" style="border-top:3px double #999;"><%= format_euro(@yearly_hosting_income) %></td>
  <td style="border-top:3px double #999;">&nbsp;</td>
  </tr>
</table>

<br />

<%= link_to 'New website', :action => 'new' %>
