<%= error_messages_for @expense_category %>

<p><label for="expense_category_name">Name</label><br/>
<%= text_field 'expense_category', 'name'  %></p>

<p><label for="expense_category_default_tax">Default tax</label><br/>
<%= text_field 'expense_category', 'default_tax'  %></p>

<p><label for="expense_category_default_amount">Default amount</label><br/>
<%= text_field 'expense_category', 'default_amount'  %></p>

<p><label for="expense_category_private">Private</label><br/>
<%= check_box 'expense_category', 'private' %></p>

<p><label for="expense_category_note">Note</label><br/>
<%= text_area 'expense_category', 'note'  %></p>
<!--[eoform:expense_category]-->

