<p>Jahr: <%= invoices_year_selector.html_safe %></p>

<p><%= link_to 'Neue Rechnung', :action => 'new' %></p>

<table id="itemslist">
  <tr>
    <th>Nummer</th>
    <th>Rechungsdatum</th>
    <th>Kunde</th>
    <th>Netto</th>
    <th>Beschreibung</th>
    <th colspan="2">&nbsp;</th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%=h invoice.ref_nr %></td>
    <td><%=h I18n.l(invoice.billed_on) %></td>
    <td><%=h invoice.client.name %></td>
    <td class="num">
      <%= number_to_currency(Money.new(invoice.amount_net)) %>
    </td>
    <td><%=h truncate(invoice.description, :length => 50) %></td>
    <td><%=h link_to('Bearbeiten', edit_invoice_path(invoice)) %></td>
    <td><%=h link_to('Löschen', invoice_path(invoice), :method => :delete, :confirm => 'Wirklich löschen?') %></td>
  </tr>
<% end %>
</table>

<p>zeige <%= @invoices.length %> Rechnungen für <%= params[:year] %>.</p>
