<h1>Editing reminder</h1>

<%= form_tag(:action => 'update', :id => @reminder) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @reminder %> |
<%= link_to 'Back', :action => 'list' %>
