<h1>Mahnungen</h1>

<p><%= link_to 'Neue Mahnung', :action => 'new' %></p>

<table id="itemslist">
  <tr>
    <th>rechnungs-nr</th>
    <th>kunde</th>
    <th>rechnung vom</th>
    <th>gemahnt am</th>
    <th colspan="3">&nbsp;</th>
  </tr>

<% for reminder in @reminders %>
  <tr>
    <td><%= link_to reminder.invoice.ref_nr, {:controller => 'invoices', :action => 'edit', :id => reminder.invoice.id} %></td>
    <td><%=h reminder.invoice.client.name %></td>
    <td><%=h format_dmy(reminder.invoice.billed_on) %></td>
    <td><%=h format_dmy(reminder.created_on) %></td>
        
    <td><%= link_to 'bearbeiten', :action => 'edit', :id => reminder %></td>
    <td><%= link_to 'löschen', { :action => 'destroy', :id => reminder }, :confirm => 'Wirklich loeschen?' %></td>
  </tr>
<% end %>
</table>

<p>zeige <%= @reminders.length %> Mahnungen.</p>