<% @tax_number = "112/256/30560" %>

<h1>Umsatzsteuer-Voranmeldung</h1>

<div id="ust-date-select">
  <%= select_month(@date.month, :add_month_numbers => true, :prompt => "Monat ...") %>
  <%= select_year(@date.year, :end_year => Date.today.year, :prompt => "Jahr ...") %>
  <%= button_tag('anzeigen', :id => 'show-date') %>
  <script>
  jQuery(document).on('click', '#show-date', function() {
    var month = jQuery('#ust-date-select select#date_month').val();
    var year = jQuery('#ust-date-select select#date_year').val();
    window.location = "/tax/ust/" + year + "/" + month;
  });
  </script>

</div>


<div id="ustTables">

  <div id="tabSelector">
    <a href="#" class="selected" onclick="Slides.show(0);">Zusammenfassung</a>
    <a href="#" onclick="Slides.show(1);">Einnahmen</a>
    <a href="#" onclick="Slides.show(2);">Ausgaben</a>
  </div>

  <div id="tabContainer">

    <!-- SUMMARY TABLE -->
    <table class="slide">
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><b>Monat</b></td>
        <td class="num"><%= I18n.l(@date, :format => :month_year) %></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><b>Berechnung</b></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Bemessungsgrundlage (Z27)</td>
        <td class="num"><%= number_to_currency(@declaration.invoices_net_sum.round) %></td>
      </tr>
      <tr>
        <td>damit vereinnahmte Umsatzsteuer</td>
        <td class="num"><%= number_to_currency(@declaration.invoices_ust_sum) %></td>
      </tr>
      <tr>
        <td>abziehbare Vorsteuerbeträge (Z55)</td>
        <td class="num"><%= number_to_currency(@declaration.expenses_ust_sum) %></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><b>Überweisung</b></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Betrag</td>
        <td class="num"><%= number_to_currency(@declaration.tax_due) %></td>
      </tr>
      <tr>
        <td>Text</td>
        <td>USt-Vorauzahlung für <%= I18n.l(@date, :format => :month_year) %>, Steuer-Nr <%= @tax_number %></td>
      </tr>
    </table>


    <!-- INVOICES -->
    <table id="itemslist" class="slide">
      <% if @declaration.invoices.empty? %>
        <tr><td><p>Keine Einnahmen für diesen Monat.</p></td></tr>
      <% else %>    
      <tr>
        <th>bezahlt</th>
        <th>rech-nr</th>
        <th>kunde</th>
        <th class="num">netto</th>
        <th class="num">ust</th>
        <th class="num">satz</th>
      </tr>
      <% @declaration.invoices.each do |invoice| %>
        <tr>
          <td><%= format_dm(invoice.paid_on) %></td>
          <td><%= link_to invoice.ref_nr, :controller => 'invoices', :action => 'edit', :id => invoice.id %></td>
          <td><%= invoice.client.name %></td>
          <td class="num"><%= number_to_currency(invoice.amount_net_euro) %></td>
          <td class="num"><%= number_to_currency(invoice.ust_euro) %></td>
          <td class="num"><%= invoice.tax %>%</td>
        </tr>
      <% end %>
      <tr>
        <th colspan="3">Summen</th>
        <th class="num"><%= number_to_currency(@declaration.invoices_net_sum) %></th>
        <th class="num"><%= number_to_currency(@declaration.invoices_ust_sum) %></th>
        <th class="num">&nbsp;</th>
      </tr>

      <% end %>
    </table>


    <!-- EXPENSES -->
    <table id="itemslist" class="slide">
      <% if @declaration.expenses.empty? %>
        <tr><td><p>Keine Ausgaben für diesen Monat.</p></td></tr>
      <% else %>
      <tr>
        <th>datum</th>
        <th>kategorie</th>
        <th>beschreibung</th>
        <th class="num">netto</th>
        <th class="num">ust</th>
        <th class="num">satz</th>
      </tr>
      <% @declaration.expenses.each do |expense| %>
        <tr>
          <td><%= format_dm(expense.billed_on) %></td>
          <td><%= expense.category.name %></td>
          <td><%= link_to truncate(expense.description, :length => 40), :controller => 'expenses', :action => 'edit', :id => expense.id %></td>
          <td class="num"><%= number_to_currency(expense.amount_net_euro) %></td>
          <td class="num"><%= number_to_currency(expense.ust_euro) %></td>
          <td class="num"><%= expense.tax %>%</td>
        </tr>
      <% end %>
      <tr>
        <th colspan="3">Summen</th>
        <th class="num"><%= number_to_currency(@declaration.expenses_net_sum) %></th>
        <th class="num"><%= number_to_currency(@declaration.expenses_ust_sum) %></th>
        <th class="num">&nbsp;</th>
      </tr>
      <% end %>
    </table>

  </div> <!-- endtabcontainer -->

</div>

<script type="text/javascript">
Slides = new TabCtrl('tabContainer');
</script>
