<%= error_messages_for @client %>

<!--[form:client]-->
<p><label for="client_name">Firma</label><br/>
<%= text_field 'client', 'name' %></p>

<p><label for="client_person">Person</label><br/>
<%= text_field 'client', 'person' %></p>

<p><label for="client_email_address">Email</label><br/>
<%= text_field 'client', 'email_address' %></p>

<p><label for="client_name">Harvest client id</label><br/>
<%= text_field 'client', 'harvest_client_id' %></p>

<p><label for="client_is_active">aktiv?</label>&nbsp; 
<%= check_box 'client', 'is_active' %></p>

<!--[eoform:client]-->

