<table id="itemslist">
  <tr>
    <th>nr</th>
    <th>firma</th>
    <th>harvest id</th>
    <th colspan="3">&nbsp;</th>
  </tr>
  
<% for client in @clients %>
  <tr<%= client.is_active ? '' : ' class="canceled"' %>>
    <td><%=h client.id %></td>
    <td><%=h client.name %></td>
    <td><%=h client.harvest_client_id %></td>
    <td><%= link_to 'bearbeiten', :action => 'edit', :id => client %></td>
    <td><%= link_to 'anzeigen', :action => 'show', :id => client %></td>
    <td><%= link_to 'löschen', { :action => 'destroy', :id => client }, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neuer Kunde', :action => 'new' %>
