<table id="itemslist">
  <tr>
    <th>Firma</th>
    <th>Harvest-Id</th>
    <th>Aktiv?</th>
    <th colspan="2">&nbsp;</th>
  </tr>
  
<% for client in @clients %>
  <tr>
    <td><%= client.name %></td>
    <td><%=h client.harvest_client_id %></td>
    <td><%= client.is_active? %></td>
    <td><%= link_to 'bearbeiten', :action => 'edit', :id => client %></td>
    <td><%= link_to 'löschen', { :action => 'destroy', :id => client }, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neuer Kunde', :action => 'new' %>
