<h1>New domain</h1>

<p>neue domain zur website <b><%=h @website.name %></b> hinzufügen: </p>
<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
<script type="text/javascript">
  document.getElementById('domain_name').select();
</script>
