<h1>alle Ausgaben</h1>

<p>Für das Jahr: <%= expenses_year_selector.html_safe %></p>

<p><%= link_to 'Neue Ausgabe', :action => 'new' %></p>

<table id="itemslist">
  <tr>
    <th>Datum</th>
    <th>Kategorie</th>
    <th>Netto</th>
    <th>Brutto</th>
    <th>Beschreibung</th>
    <th colspan="3">&nbsp;</th>
  </tr>


<% group_by_month(@expenses).each do |month, expenses| %>

  <tr>
    <td colspan="9" style="padding-top:10px">
      <b><%= I18n.l(expenses.first.billed_on, :format => :month_name) %></b>
    </td>
  </tr>
  
  <% expenses.each do |expense| %>
    <%= render expense %>
  <% end %>
  
<% end %>
</table>

<p>zeige <%= @expenses.length %> Ausgaben.</p>
