<h1>alle Ausgaben</h1>

<p>Nur für das Jahr: <%= year_selector.html_safe %></p>

<p><%= link_to 'Neue Ausgabe', :action => 'new' %></p>
  
<table id="itemslist">
  <tr>
    <th>datum</th>
    <th>kategorie</th>
    <th>netto</th>
    <th>brutto</th>
    <th>beschreibung</th>
    <th>txid</th>
    <th colspan="3">&nbsp;</th>
  </tr>

<% last_month = nil %>
<% expenses_grouped_by_quarter(@expenses).each do |quarter, expenses| %>

  <% if params[:year] != 'all' %>
  <tr>
    <td colspan="9" style="padding-top:10px">
      <b><%= quarter %>. Quartal</b>
    </td>
  </tr>
  
  <% end %>
  
  <% expenses.each do |expense| %>
    <%= render expense %>
  <% end %>
  
<% end %>
</table>

<p>zeige <%= @expenses.length %> Ausgaben.</p>
